.idea
.project
.classpath
.settings
*.ipr
*.iml
*.iws
*.swp
*.orig
*.rej
target
.directory
.sass-cache
.metadata
.DS_Store
*nb-configuration.xml
velocity.log
node_modules
webcomponents/tool/src/main/frontend/dist
rubrics/tool/src/main/frontend
bower_components
rebel.xml
.mvn/wrapper/maven-wrapper.jar
.checkstyle
assets
library/src/morpheus-master/
library/src/webapp/skin/morpheus-default/
*.key
*.key.pub
**/src/main/frontend/node/
scormplayer/scorm-tool/contentPackages
